
@{
    ViewData["Title"] = "EditProduct";
}

<h1>EditProduct</h1>

@model MyShoppingApp.Models.Product
<a asp-controller="product" asp-action="AddProduct">back to Addproduct</a>
<h5>edit products</h5>


<form method="post">
	<div class="form-group">
		<label>Product Name</label>
		<input asp-for="Name" type="text" class="form-control" />
	</div>
	<div class="form-group">
		<label>Product Desc</label>
		<input type="text" asp-for="Description" class="form-control" />
	</div>
	<div class="form-group">
		<label>Product Category</label>
		<input type="text" asp-for="Categories" class="form-control" />
	</div>
	<input type="submit" value="save" class="btn btn-primary" />
	<input type="button" value="Reset" class="btn btn-primary" />

</form>