  @model MyShoppingApp.Models.Demo  //In controller we use only model object or 1 object then we need to declare like this.no need IEnumarable
@* @Model we can take values. *@
	<h1>@Model.Id</h1>
	<h3>@Model.Name</h3>